<div class="container">
  <div class="col-4">
  <input class="form-control" #pokemonn placeholder="Buscar pokemon"/>
  </div>
  <button class="btn btn-primary" (click)="getPokemon(pokemonn.value)" >Consultar</button>


  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Nombre</th>
        <th scope="col">experiencia básica</th>
        <th scope="col">Orden</th>
        <th scope="col">Altura</th>
        <th scope="col">Foto pokemon Clasico</th>
        <th scope="col">Foto pokemon 3D</th>
        <th scope="col">Foto pokemon Dream wordl</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngIf="pokemon">
        <td scope="row">{{ pokemon.id }}</td>
        <td>{{ pokemon.name }}</td>
        <td>{{ pokemon.base_experience }}</td>
        <td>{{ pokemon.order }}</td>
        <td>{{ pokemon.height }}</td>
        <td><img src="{{ urlImage }}" alt="Foto del pokemon"></td>
        <td><img src="{{ urlImage2 }}" alt="Foto del pokemon"></td>
        <td><img src="{{ urlImage3 }}" alt="Foto del pokemon"></td>
      </tr>
    </tbody>
  </table>  
</div>