<input class="form-control" #pokemonn placeholder="Buscar pokemon"/>
<button (click)="getPokemon(pokemonn.value)" >Consultar</button>

<div class="card-header">
  <table class="table table-striped">
    <thead class="table-darh">
      <tr>
        <th>Nombre</th>
        <th>experiencia básica</th>
        <th>Orden</th>
        <th>Altura</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="pokemon">
        <td>{{ pokemon.name }}</td>
        <td>{{ pokemon.base_experience }}</td>
        <td>{{ pokemon.order }}</td>
        <td>{{ pokemon.height }}</td>
      </tr>
    </tbody>
  </table>  
</div>
